@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500;1,600&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

.custom_button{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 7px 37px;
    background: #DF0606;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid #DF0606;
}
.custom_button:hover{
    background: #000;
    color: #fff;
}
